.carrousel {
    &__container {
        border-radius: $radius-l;
        height: 415px;
        margin-top: $margin-l;
        overflow: hidden;
        position: relative;

        @include mediaqueries-max($tablet) {
            height: 255px;
        }
    }

    &__picture {
        background: center / cover no-repeat;
        height: 415px;
        width: 100%;

        @include mediaqueries-max($tablet) {
            height: 255px;
        }
    }

    &__items {
        display: flex;
    }

    &__item {
        flex: 0 0 100%;
    }
}

.carrousel-controllers {
    fill: white;
    height: 100%;
    width: 100%;

    &__arrow {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &--left {
            margin-left: $margin-l; // compense la taille de l'icône
            height: 80px;
            cursor: pointer;

            @include mediaqueries-max($tablet) {
                margin-left: $margin-s;
                height: 20px;
            }
        }

        &--right {
            height: 80px;
            cursor: pointer;

            @include mediaqueries-max($tablet) {
                height: 20px;
            }
        }
    }

    &__counter {
        color: white;
        display: flex;
        font-size: map-get($taille-texte, m);
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translateX(-50%);

        @include mediaqueries-max($small) {
            display: none;
        }
    }

    // Affichage alternatif
    &__dots-list {
        cursor: pointer;
        display: flex;
        gap: 15px;
        justify-content: center;
        list-style: none;
        width: 100%;

        &--dot svg {
            height: 10px;
        }
    }
}