.clickable-div {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
}

.flex__Column {
    display: flex;
    flex-direction: column;
}

.flex__AlignContent--Center {
    display: flex;
    align-items: center;
}


.flex__JustifyContent--Flex-End {
    display: flex;
    justify-content: flex-end;
}