// Déifinit les propriétés globales
body {
    color: $couleur--principale;
    font-family: $font-principale;
    font-size: map-get($taille-texte, texte);
    font-weight: map-get($graisse-texte, normal);
    margin: auto; // Centre le contenu
    width: 90%; // Réduit la taille du body
}

/* Gestion typo rem */
html {
    font-size: 16px !important;
}

@include mediaqueries-max($tablet) {
    html {
        font-size: 14px !important;
    }
}

// Permet de donner l'apparence d'une div cliquable
// A placer autour d'un lien 
.clickable-div {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
}