/** Permet de gérer les mediaqueries avec les variables issues de "Breakpoints" **/
@mixin mediaqueries-min($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin mediaqueries-max($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin mediaqueries-between($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin vertical-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}