@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

// Liste Polices
$font-principale: 'Montserrat', sans-serif;

// Liste tailles
$taille-texte: (
    legende: 0.875rem,
    texte: 1.125rem,
    titre-petit: 1.5rem,
    titre-moyen: 1.875rem,
    titre-grand: 2.5rem
);

// Liste line-height
$taille-line-height: (
    legende: 0.875rem,
    texte: 1.125rem,
    titre-petit: 1.5rem,
    titre-moyen: 1.875rem,
    titre-grand: 2.5rem
);

// Liste graisses
$graisse-texte: (
    light: 400,
    normal: 500
);


/* Gestion typo rem */
html {
    font-size: 16px !important;
}

@include mediaqueries-max($tablet) {
    html {
        font-size: 14px !important;
    }
}

body {
    color: $couleur--principale;
    font-family: $font-principale;
    font-size: map-get($taille-texte, texte);
    font-weight: map-get($graisse-texte, normal);
    margin: auto;
    width: 90%;
}