@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

// Liste Polices
$font-principale: 'Montserrat', sans-serif;

// Liste tailles
$taille-texte: (
    s: 0.75rem,
    m: 1.125rem,
    l: 1.5rem,
    xl: 2rem,
);

// Liste line-height
$taille-line-height: (
    s: 0.75rem,
    m: 1.125rem,
    l: 1.5rem,
    xl: 2rem
);

// Liste graisses
$graisse-texte: (
    light: 400,
    normal: 500
);