$couleur--principale: #FF6060;
$couleur--secondaire: #6EAE3E;
$couleur--gris-clair: #F6F6F6;


$radius-s: 10px;
$radius-l: 25px;

$margin-s: 10px;
$margin-m: 20px;
$margin-l: 30px;
$margin-xl: 50px;


//résolution écrans
$very-small: 360px;
$small: 494px;
$phone: 767px;
$tablet: 980px;
$medium: 1280px;
$laptop: 1366px;
$large: 1444px;
$very-large: 1920px;