$couleurs: (
    "couleur--principale": #273E1D,
    "couleur--secondaire": #6EAE3E,
);

//résolution écrans
$very-small: 360px;
$small: 494px;
$phone: 767px;
$tablet: 980px;
$medium: 1280px;
$laptop: 1366px;
$large: 1444px;
$very-large: 1920px;