/* Barre du menu avec logo */
.container__card-appartment {
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: $couleur--gris-clair;

    @include mediaqueries-max($phone) {
        background-color: white;
    }

}

.card-appartment {
    background: $couleur--principale;
    border-radius: $radius-s;
    margin: 3% 0 0;
    width: calc(33.33% - 4%);
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;

    @include mediaqueries-max($laptop) {
        width: calc(50% - 4%);
        max-height: 40vh;
    }

    @include mediaqueries-max($phone) {
        width: 100%;
    }

    // Permet de gérer la forme carrée des briques 
    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    h2 {
        position: absolute;
        left: 5%;
        top: 75%;
        width: 60%;
        text-overflow: ellipsis;
        height: 100px;
        color: white;
        font-size: map-get($taille-texte, texte);
    }
}