// Propriétés de base d'une bannière
.banner {
    background-position: center;
    background-size: cover;
    margin-top: $margin-xl;
    border-radius: $radius-l;

    // Format standard    
    &__250px {
        @extend .banner;

        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            color: white;
            z-index: 1;
            padding: 0 20px;
        }
    }

    // Variante par page
    &--homepage {
        background-image:
            url('../../assets/images/banner-homepage.jpg');

        @include mediaqueries-max($phone) {
            height: 111px;
            justify-content: flex-start;
        }
    }

    &--APropos {
        background-image:
            url('../../assets/images/banner-a-propos.jpg');
    }

    &--ficheLogement {
        @extend .banner;
        min-height: 415px;
        height: 50vh;

        @include mediaqueries-max($tablet) {
            min-height: 255px;
            height: 33vh;
        }
    }
}

// Définition de l'overlay
.overlay {
    position: relative;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// Overlay bannières
.overlay-banner {
    @extend .overlay;

    &::before {
        @extend ::before;
        border-radius: $radius-l;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

// Overlay CardsLogement
.overlay-cards {
    @extend .overlay;

    &::before {
        @extend ::before;
        border-radius: $radius-s;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
}